@import "tailwindcss";

/* Theme colors */
@theme {
    --color-primary: #8ec8ee;
    --color-background: #030a2e;
    --color-surface: #061665;
    --font-inter: "Inter", sans-serif;
}

body {
    background-color: var(--color-background);
}

/* Apply Inter font globally */
@layer base {
    html {
        font-family: var(--font-inter);
    }
}
