@import "tailwindcss";

/* Theme colors */
@theme {
    --color-primary: #8ec8ee;
    --color-background: #030a2e;
    --color-surface: #061665;
    --color-fuchsia: #e018e0;
    --font-inter: "Inter", sans-serif;
}

body {
    background-color: var(--color-background);
}

/* Apply Inter font globally */
@layer base {
    html {
        font-family: var(--font-inter);
    }
}

/* Custom classes for common tailwind styles */
.campus-badge {
    @apply md:text-xl lg:text-3xl font-[900] uppercase leading-[100%] p-4 w-full md:w-max text-center;
}

.maximum-width {
    @apply max-w-[1536px] mx-auto p-4;
}
